
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.mask-group-nnM {
  width: 100%;
  height: 117rem;
}
.mask-group-nnM .wp-pusher-FA9 {
  box-sizing: border-box;
  padding: 2.8rem 4rem 13.9rem 4rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f8fa;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D {
  margin-bottom: 8.5rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D .auto-group-tclq-EgH {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D .auto-group-tclq-EgH .wppusher-logo-copy-mw7 {
  margin-right: 68.4rem;
  width: 20rem;
  height: 3.9rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/wppusher-logo-copy.png');
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D .auto-group-tclq-EgH .navigation-rxZ {
  margin-bottom: 0.1rem;
  height: 4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D .auto-group-tclq-EgH .navigation-rxZ .auto-group-mgbb-bv9 {
  box-sizing: border-box;
  padding: 1.1rem 4.4rem 1.2rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D .auto-group-tclq-EgH .navigation-rxZ .auto-group-mgbb-bv9 .download-Vu3 {
  margin-right: 4.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.001rem;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D .auto-group-tclq-EgH .navigation-rxZ .auto-group-mgbb-bv9 .learn-more-a9o {
  margin-right: 4.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.001rem;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D .auto-group-tclq-EgH .navigation-rxZ .auto-group-mgbb-bv9 .pricing-rt1 {
  margin-right: 4.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.001rem;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D .auto-group-tclq-EgH .navigation-rxZ .auto-group-mgbb-bv9 .help-BvH {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.001rem;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D .auto-group-tclq-EgH .navigation-rxZ .account-WBs {
  width: 9.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.001rem;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #646e7a;
  box-sizing: border-box;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .nav-bar-u8D .rectangle-ZA9 {
  width: 135.8rem;
  height: 0.2rem;
  background-color: #e0e5e9;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ {
  margin: 0rem 24.6rem 0rem 21.6rem;
  width: calc(100% - 46.2rem);
  height: 84.5rem;
  position: relative;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R {
  width: 89.2rem;
  height: 84.5rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 79.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.049082879), 0 1.5rem 3.5rem rgba(42, 63, 78, 0.0955049843);
  background-color: #ffffff;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H {
  margin: 4.1rem 0rem 4.69rem 0rem;
  width: 58rem;
  height: calc(100% - 8.7899rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .title-yt5 {
  margin-bottom: 3.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .title-yt5 .checkout-LTj {
  margin: 0rem 0rem 4.2rem 4.8rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .title-yt5 .rectangle-9-copy-5-T2Z {
  width: 100%;
  height: 0.2rem;
  background-color: #f5f7fa;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf {
  margin-bottom: 3.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 {
  box-sizing: border-box;
  padding: 0rem 4.7rem 4.1rem 4.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .basic-5Jq {
  margin: 0rem 26.3rem 1.3rem 0rem;
  width: calc(100% - 26.3rem);
  height: 3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .basic-5Jq .item-1-QM7 {
  margin-right: 1rem;
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .basic-5Jq .item-1-QM7 .item-1-Kiy {
  width: 1rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 0.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.0142rem;
  color: #548bc5;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .basic-5Jq .item-1-QM7 .oval-2-Piq {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #548bc5;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .basic-5Jq .your-basic-informati-HJR {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.016rem;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .auto-group-yfvq-CAV {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .auto-group-yfvq-CAV .first-name-wds {
  margin-right: 3rem;
  width: 22.7rem;
  height: 100%;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .auto-group-yfvq-CAV .first-name-wds .first-name-copy-2-h7F {
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .auto-group-yfvq-CAV .first-name-wds .auto-group-uogm-2QR {
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 1rem 1.3rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #646e7a;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #edeff2;
  border-radius: 0.4rem;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .auto-group-yfvq-CAV .last-name-HbF {
  width: 22.7rem;
  height: 100%;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .auto-group-yfvq-CAV .last-name-HbF .last-name-copy-2-qcm {
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .auto-group-yfvq-CAV .last-name-HbF .auto-group-4vly-Nch {
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 1rem 1.3rem;
  width: 22.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #646e7a;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #edeff2;
  border-radius: 0.4rem;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .email-Euo {
  width: 37rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .email-Euo .e-mail-copy-2-C5w {
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .auto-group-e3wp-Ls3 .email-Euo .auto-group-tp85-w3X {
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 1rem 1.3rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #646e7a;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #edeff2;
  border-radius: 0.5rem;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-basic-bPf .rectangle-9-copy-10-Dmj {
  width: 100%;
  height: 0.2rem;
  background-color: #f5f7fa;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw {
  margin-bottom: 3.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK {
  box-sizing: border-box;
  padding: 0rem 4.8rem 4.1rem 4.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .payment-FTX {
  margin: 0rem 23.3rem 2.1rem 0rem;
  width: calc(100% - 23.3rem);
  height: 3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .payment-FTX .item-2-y8d {
  margin-right: 1rem;
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .payment-FTX .item-2-y8d .item-2-XA9 {
  width: 1rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 0.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.0142rem;
  color: #548bc5;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .payment-FTX .item-2-y8d .oval-2-copy-RFX {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #548bc5;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .payment-FTX .your-payment-informa-9BX {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.016rem;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .credit-card-FkM {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .credit-card-FkM .credit-card-copy-pHf {
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .credit-card-FkM .auto-group-gh1b-kx1 {
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 1rem 1.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #edeff2;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .credit-card-FkM .auto-group-gh1b-kx1 .card-number-Hh3 {
  margin-right: 26.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #646e7a;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .credit-card-FkM .auto-group-gh1b-kx1 .mm-yy-dW1 {
  margin-right: 2.2rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #646e7a;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .auto-group-fywh-7MK .credit-card-FkM .auto-group-gh1b-kx1 .cvc-xYH {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #646e7a;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .section-payment-Msw .rectangle-9-copy-11-UmX {
  width: 100%;
  height: 0.2rem;
  background-color: #f5f7fa;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 {
  margin: 0rem 4.8rem 0rem 4.9rem;
  width: calc(100% - 9.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 .button-85P {
  width: 100%;
  height: 5.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.0396rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #038e7d;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 .auto-group-dug1-cFT {
  box-sizing: border-box;
  padding: 2.3rem 7.5rem 0rem 7.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 .auto-group-dug1-cFT .support-LhF {
  margin-bottom: 3.1rem;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 .auto-group-dug1-cFT .support-LhF .mask-6Ad {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 .auto-group-dug1-cFT .support-LhF .auto-group-bktr-dgM {
  margin: 0.1rem 0rem 0.2rem 0rem;
  width: 30.3rem;
  height: calc(100% - 0.3rem);
  position: relative;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 .auto-group-dug1-cFT .support-LhF .auto-group-bktr-dgM .rectangle-11-copy-ARP {
  width: 9.4rem;
  height: 0.1rem;
  position: absolute;
  left: 20.3rem;
  top: 1.5rem;
  background-color: #646e7a;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 .auto-group-dug1-cFT .support-LhF .auto-group-bktr-dgM .need-any-help-dont-hRK {
  width: 30.3rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.171875;
  letter-spacing: -0.001rem;
  color: #1d2c3c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 .auto-group-dug1-cFT .support-LhF .auto-group-bktr-dgM .need-any-help-dont-hRK .need-any-help-dont-hRK-sub-0 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.001rem;
  color: #1d2c3c;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 .auto-group-dug1-cFT .support-LhF .auto-group-bktr-dgM .need-any-help-dont-hRK .need-any-help-dont-hRK-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.001rem;
  color: #646e7a;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .auto-group-nrhj-g8H .purchase-o37 .auto-group-dug1-cFT .poweredbystripe-bBF {
  margin-left: 0.3rem;
  width: 9.2rem;
  height: 2.0101rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b {
  box-sizing: border-box;
  padding: 4.2rem 3.7rem 4.2rem 4.4rem;
  width: 31.2rem;
  height: 100%;
  background-color: #1179bf;
  border-radius: 0 0.6rem 0.6rem 0;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd {
  width: 100%;
  height: 61rem;
  display: flex;
  flex-direction: column;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .plan-mzq {
  margin-bottom: 3.6rem;
  width: 15.8rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .plan-mzq .freelancer-i9P {
  margin: 0rem 0rem 0.5rem 0.2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.001rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .plan-mzq .pricing-2Qy {
  margin: 0rem 1.8rem 0.3rem 0rem;
  width: calc(100% - 1.8rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .plan-mzq .pricing-2Qy .item--MTF {
  margin: 0rem 0.6rem 1.7rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.0015rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .plan-mzq .pricing-2Qy .year-rQ1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.171875;
  letter-spacing: -0.0015rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .plan-mzq .pricing-2Qy .year-rQ1 .year-rQ1-sub-0 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.0015rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .plan-mzq .pricing-2Qy .year-rQ1 .year-rQ1-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.0015rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .plan-mzq .automatically-renews-azD {
  margin-left: 0.2rem;
  max-width: 15.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0008rem;
  font-style: italic;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .details-Hdj {
  margin: 0rem 0rem 4.1rem 0.1rem;
  width: 17rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .details-Hdj .auto-group-sq8y-RV3 {
  margin-bottom: 0.1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .details-Hdj .auto-group-sq8y-RV3 .auto-group-oxuv-a73 {
  margin: 0.1rem 1.1rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .details-Hdj .auto-group-sq8y-RV3 .auto-group-oxuv-a73 .combined-shape-WmP {
  margin-bottom: 1.6rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .details-Hdj .auto-group-sq8y-RV3 .auto-group-oxuv-a73 .combined-shape-copy-qof {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .details-Hdj .auto-group-sq8y-RV3 .use-on-5-client-site-zRf {
  max-width: 13.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .details-Hdj .auto-group-sq8y-RV3 .use-on-5-client-site-zRf .use-on-5-client-site-zRf-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .details-Hdj .auto-group-sq8y-RV3 .use-on-5-client-site-zRf .use-on-5-client-site-zRf-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .details-Hdj .auto-group-sq8y-RV3 .use-on-5-client-site-zRf .use-on-5-client-site-zRf-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .details-Hdj .combined-shape-copy-2-zTb {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .switch-YV7 {
  margin: 0rem 0rem 4.1rem 0.2rem;
  width: 18.4rem;
  height: 5.1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .switch-YV7 .need-20-client-sites-HBo {
  width: 15.1rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.171875;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .switch-YV7 .need-20-client-sites-HBo .need-20-client-sites-HBo-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .switch-YV7 .need-20-client-sites-HBo .need-20-client-sites-HBo-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .switch-YV7 .need-20-client-sites-HBo .need-20-client-sites-HBo-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .switch-YV7 .need-20-client-sites-HBo .need-20-client-sites-HBo-sub-3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .switch-YV7 .need-20-client-sites-HBo .need-20-client-sites-HBo-sub-4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.0008rem;
  font-style: italic;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .switch-YV7 .need-20-client-sites-HBo .need-20-client-sites-HBo-sub-5 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .switch-YV7 .need-20-client-sites-HBo .need-20-client-sites-HBo-sub-6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .switch-YV7 .rectangle-11-Up1 {
  opacity: 0.504;
  width: 18rem;
  height: 0.4rem;
  position: absolute;
  left: 0;
  top: 4.7rem;
  background-color: rgba(185, 245, 255, 0.5035665631);
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .quote-Czu {
  width: 22.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .quote-Czu .rectangle-3-Mso {
  margin-bottom: 4.1rem;
  opacity: 0.201;
  width: 22.4rem;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.2005208284);
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .quote-Czu .ftp-is-horrible-to-d-Vj7 {
  margin: 0rem 0rem 1.7rem 0.2rem;
  max-width: 22.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: -0.0009rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .quote-Czu .ftp-is-horrible-to-d-Vj7 .ftp-is-horrible-to-d-Vj7-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: -0.0009rem;
  font-style: italic;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .quote-Czu .ftp-is-horrible-to-d-Vj7 .ftp-is-horrible-to-d-Vj7-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: -0.0009rem;
  font-style: italic;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .quote-Czu .ftp-is-horrible-to-d-Vj7 .ftp-is-horrible-to-d-Vj7-sub-2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: -0.0009rem;
  font-style: italic;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .quote-Czu .auto-group-l5px-K5s {
  margin-right: 9.6rem;
  width: calc(100% - 9.6rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .quote-Czu .auto-group-l5px-K5s .bitmap-etq {
  margin-right: 1.4rem;
  width: 4rem;
  height: 100%;
  background-color: #d8d8d8;
  border-radius: 2rem;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .quote-Czu .auto-group-l5px-K5s .bitmap-etq .auto-group-o4pt-oFw {
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .auto-group-wwqf-8cZ .sidebar-79b .side-bar-content-dtd .quote-Czu .auto-group-l5px-K5s .kirk-beard-vbT {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.0008rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .wp-pusher-ivs-B1b {
  margin-left: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2000000817;
  color: #636b6f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .wp-pusher-ivs-B1b .wp-pusher-ivs-B1b-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #636b6f;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .panel-c8R .wp-pusher-ivs-B1b .wp-pusher-ivs-B1b-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #31708f;
  font-family: Lato, 'Source Sans Pro';
}
.mask-group-nnM .wp-pusher-FA9 .auto-group-su8h-gkZ .frame-1-sYd {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 9rem;
  overflow: hidden;
}
